@page
@model IndexModel
@{
    ViewData["Title"] = "Reserva Ecologica";
}

<div class="text-center">
    <h1 class="display-4">Reserva Ecológica</h1>
    <p>Veni a conocer un hermoso lugar, donde vas a encontrar tranquilidad y mosquitos.</p>
</div>
  <img src="https://puntoconvergente.uca.edu.ar/wp-content/uploads/2018/11/reserva-2.jpg" alt="" 
    width="400px" height="400px" style="display: block; margin: auto;">
<div> 
   
</div>
